#background {
    background-image: url(Assets/Overall_UI/Generic_Felt_Mat.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}

html{
    
}

#title {
    width: 400px;
}

#outer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#inner {
}

#chooseGameTxt{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 60px;
    position: absolute;
}

#rouletteIconBtn{
    width: 300px;
    position: absolute;
    margin-left: -40%;
    margin-top: 10%;

}

#rouletteIconBtn:hover{
    cursor: pointer;

    -webkit-filter: drop-shadow(2px 2px 0 yellow)
    drop-shadow(-2px 2px 0 yellow)
    drop-shadow(2px -2px 0 yellow)
    drop-shadow(-2px -2px 0 yellow);

filter: drop-shadow(2px 2px 0 yellow)
drop-shadow(-2px 2px 0 yellow)
drop-shadow(2px -2px 0 yellow)
drop-shadow(-2px -2px 0 yellow);
}

#blackjackIconBtn{
    width: 300px;
    position: absolute;
    margin-left: -10%;
    margin-top: 10%;
}
#blackjackIconBtn:hover{
    cursor: pointer;

    -webkit-filter: drop-shadow(2px 2px 0 yellow)
    drop-shadow(-2px 2px 0 yellow)
    drop-shadow(2px -2px 0 yellow)
    drop-shadow(-2px -2px 0 yellow);

filter: drop-shadow(2px 2px 0 yellow)
drop-shadow(-2px 2px 0 yellow)
drop-shadow(2px -2px 0 yellow)
drop-shadow(-2px -2px 0 yellow);
}

#pokerIconBtn{
    width: 300px;
    position: absolute;
    margin-left: 20%;
    margin-top: 10%;
}
#pokerIconBtn:hover{
    cursor: pointer;

    -webkit-filter: drop-shadow(2px 2px 0 yellow)
    drop-shadow(-2px 2px 0 yellow)
    drop-shadow(2px -2px 0 yellow)
    drop-shadow(-2px -2px 0 yellow);

filter: drop-shadow(2px 2px 0 yellow)
drop-shadow(-2px 2px 0 yellow)
drop-shadow(2px -2px 0 yellow)
drop-shadow(-2px -2px 0 yellow);
}

#crapsIconBtn{
    width: 300px;
    position: absolute;
    margin-left: -28%;
    margin-top: 25%;
}
#crapsIconBtn:hover{
    cursor: pointer;

    -webkit-filter: drop-shadow(2px 2px 0 yellow)
    drop-shadow(-2px 2px 0 yellow)
    drop-shadow(2px -2px 0 yellow)
    drop-shadow(-2px -2px 0 yellow);

filter: drop-shadow(2px 2px 0 yellow)
drop-shadow(-2px 2px 0 yellow)
drop-shadow(2px -2px 0 yellow)
drop-shadow(-2px -2px 0 yellow);
}

#slotsIconBtn{
    width: 300px;
    position: absolute;
    margin-left: 2%;
    margin-top: 25%;
}

#slotsIconBtn:hover{
    -webkit-filter: drop-shadow(2px 2px 0 yellow)
    drop-shadow(-2px 2px 0 yellow)
    drop-shadow(2px -2px 0 yellow)
    drop-shadow(-2px -2px 0 yellow);

filter: drop-shadow(2px 2px 0 yellow)
drop-shadow(-2px 2px 0 yellow)
drop-shadow(2px -2px 0 yellow)
drop-shadow(-2px -2px 0 yellow);
}